<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <title>Menu</title>
    <%- include('partial/homeHead')%>
    
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <%- include('partial/head', {active: 'menu'})%>
    <!-- header-end -->

    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay">
        <h3>Add Meal</h3>
    </div>
    <!-- bradcam_area_end -->

    <!-- best_burgers_area_start  -->
    <div class="best_burgers_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center mb-80">
                        <span>Burger Menu</span>
                        <h3>Best Ever Burgers</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <% for(let i = 0; i < meals.length; i++){%>
                <div class="col-xl-6 col-md-6 col-lg-6">
                    <div class="single_delicious d-flex align-items-center">
                        <div class="thumb">
                            <img src="<%= meals[i].imgUrl%>" alt="">
                        </div>
                        <div class="info">
                            <h3><%= meals[i].title%></h3>
                            <p><%= meals[i].description%></p>
                            <span>$<%= meals[i].price%></span>
                        </div>
                    </div>
                </div>
                <%}%>
            </div>
        </div>
    </div>
    <!-- best_burgers_area_end  -->

   <!--add dish form-->
    <div class="container">
        <div class="row">
            <form action="/admin/addmeal" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="exampleFormControlInput1">Meal Title</label>
                  <input type="text" id="mealTitleInp" class="form-control" name="mealTitle" placeholder="meal title">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Meal Price</label>
                    <input type="number" min="0" class="form-control"  name="mealPrice" placeholder="5">
                  </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Meal Description</label>
                  <textarea class="form-control" name="mealDescription" rows="3"></textarea>
                </div>
                <!-- file upload start--> 
                <div class="form-group">
                    <label for="mealimgfile">Meal image</label>
                    <input type="file" name="mealimg" class="form-control-file" id="mealimgfile" accept="image/x-png,image/gif,image/jpeg">
                  </div>
 
                <!-- file upload end-->
                <textarea id="mealDetails" name="mealDetails">Hello, World!</textarea>
                <input type="submit" class="btn btn-success" value="save">
              </form>
        </div>
    </div>

    <!--add dish form-end-->



    <!-- footer_start  -->
    <footer class="footer">
            <div class="footer_top">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-md-6 col-lg-4">
                            <div class="footer_widget text-center ">
                                <h3 class="footer_title pos_margin">
                                        New York
                                </h3>
                                <p>5th flora, 700/D kings road, <br> 
                                        green lane New York-1782 <br>
                                        <a href="#">info@burger.com</a></p>
                                <a class="number" href="#">+10 378 483 6782</a>

                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-lg-4">
                            <div class="footer_widget text-center ">
                                <h3 class="footer_title pos_margin">
                                    California
                                </h3>
                                <p>5th flora, 700/D kings road, <br> 
                                        green lane New York-1782 <br>
                                        <a href="#">info@burger.com</a></p>
                                <a class="number" href="#">+10 378 483 6782</a>

                            </div>
                        </div>
                        <div class="col-xl-4 col-md-12 col-lg-4">
                                <div class="footer_widget">
                                        <h3 class="footer_title">
                                                Stay Connected
                                        </h3>
                                        <form action="#" class="newsletter_form">
                                            <input type="text" placeholder="Enter your mail">
                                            <button type="submit">Sign Up</button>
                                        </form>
                                        <p class="newsletter_text">Stay connect with us to get exclusive offer!</p>
                                    </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-4">
                            <div class="socail_links text-center">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="ti-instagram"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="ti-twitter-alt"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="ti-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copy-right_text">
                <div class="container">
                    <div class="footer_border"></div>
                    <div class="row">
                        <div class="col-xl-12">
                            <p class="copy_right text-center">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    </footer>
    <!-- footer_end  -->

    <!-- JS here -->
    <%- include('partial/htmljs')%>
    <script src='/tinymce/tinymce.min.js'></script>
    <script>
        tinymce.init({
        selector: '#mealDetails',
           /* theme of the editor */
        //    theme: "sliver",
        //    skin: "oxide-dark",
	
	/* width and height of the editor */
	width: "100%",
	height: 300,
	
	/* display statusbar */
	statubar: true,
	
	/* plugin */
	plugins: [
		"advlist autolink link image lists charmap print preview hr anchor pagebreak",
		"searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
		"save table contextmenu directionality emoticons template paste textcolor"
	],

	/* toolbar */
	toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons",
	
	/* style */
	style_formats: [
		{title: "Headers", items: [
			{title: "Header 1", format: "h1"},
			{title: "Header 2", format: "h2"},
			{title: "Header 3", format: "h3"},
			{title: "Header 4", format: "h4"},
			{title: "Header 5", format: "h5"},
			{title: "Header 6", format: "h6"}
		]},
		{title: "Inline", items: [
			{title: "Bold", icon: "bold", format: "bold"},
			{title: "Italic", icon: "italic", format: "italic"},
			{title: "Underline", icon: "underline", format: "underline"},
			{title: "Strikethrough", icon: "strikethrough", format: "strikethrough"},
			{title: "Superscript", icon: "superscript", format: "superscript"},
			{title: "Subscript", icon: "subscript", format: "subscript"},
			{title: "Code", icon: "code", format: "code"}
		]},
		{title: "Blocks", items: [
			{title: "Paragraph", format: "p"},
			{title: "Blockquote", format: "blockquote"},
			{title: "Div", format: "div"},
			{title: "Pre", format: "pre"}
		]},
		{title: "Alignment", items: [
			{title: "Left", icon: "alignleft", format: "alignleft"},
			{title: "Center", icon: "aligncenter", format: "aligncenter"},
			{title: "Right", icon: "alignright", format: "alignright"},
			{title: "Justify", icon: "alignjustify", format: "alignjustify"}
		]}
	]
        });
        
// this command will return
// undefined without userstrictly
//


        //sent a post request to the server to check mealtitle if it exist using fetch
        document.querySelector('#mealTitleInp').addEventListener('blur',(e) => {
            e.preventDefault()
           fetch('/admin/checkmealname',{
               method: 'POST',
               body:JSON.stringify({
                    mealtitle: e.target.value
               }),
               headers: {
                   'Content-Type':'application/json'
                   //''Content-Type':'application/x-www-form-urlencoded
               }
               
           }).then(response => {
               if(response.status == 200){
                   response.json().then(data => {
                       //alert(data)
                       if(data == "exist"){
                           const errorSpan = e.target.parentElement.querySelector('.errorspan')
                           if(errorSpan == null){
                            const errorSpan = document.createElement('span')
                            errorSpan.style.color = 'red'
                            errorSpan.classList.add('errorspan')
                            errorSpan.innerText = 'Title exist'
                            e.target.parentElement.append(errorSpan)
                            }
                            e.target.focus()

                        } else {
                            const errorSpan = e.target.parentElement.querySelector('.errorspan')
                            if (errorSpan){
                                errorSpan.remove()
                            }
                        }
                       
                   })
               } else {
                   alert('error')
               }
           })
        })
        </script>
</body>

</html>